@using ForumNet.Web.Infrastructure.Extensions
@model ForumNet.Web.ViewModels.Users.UsersDetailsViewModel

<div class="tt-wrapper-section">
    <div class="container">
        <div class="tt-user-header">
            <div class="tt-col-avatar">
                <div class="tt-icon">
                    @if (Model.ProfilePicture.StartsWith("#icon-ava"))
                    {
                        <svg class="tt-icon">
                            <use xlink:href="@Model.ProfilePicture"></use>
                        </svg>
                    }
                    else
                    {
                        <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/@Model.ProfilePicture" 
                             alt="avatar"
                             class="tt-icon"
                             width="40"
                             height="40"
                             style="border-radius: 50%"/>
                    }
                </div>
            </div>
            <div class="tt-col-title">
                <div class="tt-title">
                    <a asp-area=""
                       asp-controller="Users"
                       asp-action="Threads"
                       asp-route-id="@Model.Id">
                        @Model.UserName
                    </a>
                </div>
                <ul class="tt-list-badge">
                    <li>
                        <a href="#">
                            <span class="tt-color14 tt-badge">Points: @Model.Points</span>
                        </a>
                    </li>
                </ul>
            </div>

            @if (Model.Id == this.User.GetId())
            {
                <a href="/Identity/Account/Manage" class="tt-icon-btn" style="color: #666f74">
                    <i class="fas fa-cog"></i>
                </a>
            }
            else
            {
                <vc:users-follow-button user-id="@Model.Id"></vc:users-follow-button>
            }

        </div>
    </div>
</div>