@model ForumNet.Web.ViewModels.Users.UsersDetailsViewModel
@{
    ViewData["Title"] = Model.UserName;
}

<partial name="_DetailsPartial" model="Model" />

<div class="container">
    <div class="tt-tab-wrapper">

        <vc:users-details user-id="@Model.Id"></vc:users-details>

        <div class="tab-pane tt-indent-none" id="tt-tab-03" role="tabpanel">
            <div class="tt-topic-list" style="word-break: break-word;">
                @if (Model.Replies.Any())
                {
                    <div class="tt-list-header">
                        <div class="tt-col-topic">Topic</div>
                        <div class="tt-col-category">Category</div>
                        <div class="tt-col-value">Activity</div>
                    </div>

                    foreach (var reply in Model.Replies)
                    {
                        <div class="tt-item">
                            <div class="tt-col-avatar">
                                <svg class="tt-icon">
                                    <use xlink:href="@Model.ProfilePicture"></use>
                                </svg>
                            </div>
                            <div class="tt-col-description">
                                <h6 class="tt-title">
                                    <a asp-area="" 
                                       asp-controller="Posts" 
                                       asp-action="Details" 
                                       asp-route-id="@reply.PostId">
                                        @reply.PostTitle
                                    </a>
                                </h6>
                                <div class="row align-items-center no-gutters hide-desktope">
                                    <div class="col-9">
                                        <ul class="tt-list-badge">
                                            <li class="show-mobile">
                                                <a asp-area="" 
                                                   asp-controller="Categories" 
                                                   asp-action="Details" 
                                                   asp-route-id="@reply.PostCategoryId">
                                                    <span class="tt-color01 tt-badge">@reply.PostCategoryName</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-3 ml-auto show-mobile">
                                        <div class="tt-value">@reply.Activity</div>
                                    </div>
                                </div>
                                <div class="tt-content">
                                    @Html.Raw(reply.SanitizedDescription)
                                </div>
                            </div>
                            <div class="tt-col-category">
                                <a asp-area="" 
                                   asp-controller="Categories"
                                   asp-action="Details" 
                                   asp-route-id="@reply.PostCategoryId">
                                    <span class="tt-color01 tt-badge">@reply.PostCategoryName</span>
                                </a>
                            </div>
                            <div class="tt-col-value-large hide-mobile">@reply.Activity</div>
                        </div>
                    }

                }
                else
                {
                    <div class="tt-layout-404">
                        <h6 class="tt-title">@Model.UserName has no replies.</h6>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var token = $("#follow-form input[name=__RequestVerificationToken]").val();

        function follow(id) {
            $.ajax({
                type: "POST",
                url: "/Users/Follow/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (json === true) {
                        $('#follow-button').html('Following');
                        $('#followersCount').html(@Model.FollowersCount + ' Followers');
                    } else {
                        $('#follow-button').html('Follow');
                        $('#followersCount').html(@(Model.FollowersCount - 1) + ' Followers');
                    }
                }
            });
        }
    </script>
}
