@model ForumNet.Web.ViewModels.Posts.PostsDetailsViewModel

<div class="row-object-inline form-default">
    <h6 class="tt-title">Sort replies by:</h6>
    <ul class="tt-list-badge tt-size-lg">
        @{
            this.Context.Request.Query.TryGetValue("sort", out var value);
            if (value == "most reacted")
            {
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="recent"><span class="tt-badge">Recent</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="most reacted"><span class="tt-color02 tt-badge">Most Reacted</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="longest"><span class="tt-badge">Longest</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="shortest"><span class="tt-badge">Shortest</span></a></li>
            }
            else if (value == "longest")
            {
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="recent"><span class="tt-badge">Recent</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="most reacted"><span class="tt-badge">Most Reacted</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="longest"><span class="tt-color02 tt-badge">Longest</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="shortest"><span class="tt-badge">Shortest</span></a></li>
            }
            else if (value == "shortest")
            {
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="recent"><span class="tt-badge">Recent</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="most reacted"><span class="tt-badge">Most Reacted</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="longest"><span class="tt-badge">Longest</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="shortest"><span class="tt-color02 tt-badge">Shortest</span></a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="recent"><span class="tt-color02 tt-badge">Recent</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="most reacted"><span class="tt-badge">Most Reacted</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="longest"><span class="tt-badge">Longest</span></a></li>
                <li><a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.Id" asp-route-sort="shortest"><span class="tt-badge">Shortest</span></a></li>
            }
        }
    </ul>
    <select class="tt-select form-control" onchange="location = this.value">
        <option value="/Posts/Details/@Model.Id?sort=recent">Recent</option>
        <option value="/Posts/Details/@Model.Id?sort=most%20reacted">Most Reacted</option>
        <option value="/Posts/Details/@Model.Id?sort=longest">Longest</option>
        <option value="/Posts/Details/@Model.Id?sort=shortest">Shortest</option>
    </select>
</div>