@model ForumNet.Web.ViewModels.Posts.PostsRepliesDetailsViewModel

<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="likeReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
    <span id="reply-likes-@Model.Id" class="tt-text">@Model.Likes</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="loveReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="fas fa-heart"></i>
    <span id="reply-loves-@Model.Id" class="tt-text">@Model.Loves</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="hahaReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="fas fa-grin-tears"></i>
    <span id="reply-haha-@Model.Id" class="tt-text">@Model.HahaCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="wowReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="fas fa-surprise"></i>
    <span id="reply-wow-@Model.Id" class="tt-text">@Model.WowCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="sadReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="fas fa-sad-tear"></i>
    <span id="reply-sad-@Model.Id" class="tt-text">@Model.SadCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74" onclick="angryReaction(@Model.Id, 'reply-reactions', 'reply')">
    <i class="fas fa-angry"></i>
    <span id="reply-angry-@Model.Id" class="tt-text">@Model.AngryCount</span>
</button>