@using ForumNet.Web.Infrastructure.Extensions
@model ForumNet.Web.ViewModels.Posts.PostsRepliesDetailsViewModel

<div class="topic-inner-list">
    <div class="topic-inner">
        <div class="topic-inner-title">
            <div class="topic-inner-avatar">
                <i class="tt-icon">
                    <svg>
                        <use xlink:href="#@Model.Author.ProfilePicture"></use>
                    </svg>
                </i>
            </div>
            <div class="topic-inner-title">
                <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@Model.Author.Id">
                    @Model.Author.UserName
                </a>
            </div>
        </div>
        <div class="topic-inner-description">
            @Html.Raw(Model.SanitizedDescription)
        </div>
        <div class="tt-item-info info-bottom">
            <partial name="_DetailsRepliesReactionsPartial" model="Model" />
            <div class="col-separator"></div>
            @if (Model.Author.Id == this.User.GetId() || this.User.IsAdministrator())
            {
                <a asp-area="" asp-controller="Replies" asp-action="Edit" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                    <i class="fas fa-pen"></i>
                </a>
                <a asp-area="" asp-controller="Replies" asp-action="Delete" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                    <i class="fas fa-trash-alt"></i>
                </a>
            }
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
            </a>
            <a asp-area="" asp-controller="ReplyReports" asp-action="Create" asp-route-id="@Model.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
            </a>
            <a asp-area="" asp-controller="Replies" asp-action="Details" asp-route-id="@Model.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
            </a>
        </div>
    </div>
</div>