@using ForumNet.Data.Models.Enums
@model ForumNet.Web.ViewModels.Posts.PostsCreateInputModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="container">
    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            Create New Post
        </h1>
        <form class="form-default form-create-topic" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Post Title</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Title" type="text" class="form-control" id="inputTopicTitle" placeholder="Subject of your post">
                    <span class="tt-value-input">100</span>
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="tt-note">Describe your post well, while keeping the subject as short as possible.</div>
            </div>
            <div class="form-group">
                <label asp-for="PostType">Post Type</label>
                <input id="post-type" value="@PostType.Discussion" asp-for="PostType" type="radio" hidden />
                <div class="tt-js-active-btn tt-wrapper-btnicon">
                    <div class="row tt-w410-col-02">
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Discussion'); showfield('Discussion')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-discussion"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Discussion</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Image'); showfield('Image')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-gallery"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Image</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Video'); showfield('Video')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#Video"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Video</span>
                            </a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PostType"></span>
                <div id="hidden-input">
                    <span asp-validation-for="ImageUrl"></span>
                    <span asp-validation-for="VideoUrl"></span>
                </div>
            </div>
            <div class="pt-editor">
                <h6 class="pt-title">Post Description</h6>
                <div class="form-group">
                    <textarea id="post-create" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CategoryId">Category</label>
                            <select asp-for="CategoryId" class="form-control">
                                <option hidden>Please select...</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="TagIds">Tags</label>
                            <select asp-for="TagIds" class="form-control">
                                @foreach (var tag in Model.Tags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                            <span asp-validation-for="TagIds" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    tinymce.init({
        selector: '#post-create',
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        imagetools_cors_hosts: ['picsum.photos'],
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
        toolbar_sticky: true,
        autosave_ask_before_unload: true,
        autosave_interval: "30s",
        autosave_prefix: "{path}{query}-{id}-",
        autosave_restore_when_empty: false,
        autosave_retention: "2m",
        image_advtab: true,
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tiny.cloud/css/codepen.min.css'
        ],
        link_list: [
            { title: 'My page 1', value: 'http://www.tinymce.com' },
            { title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_list: [
            { title: 'My page 1', value: 'http://www.tinymce.com' },
            { title: 'My page 2', value: 'http://www.moxiecode.com' }
        ],
        image_class_list: [
            { title: 'None', value: '' },
            { title: 'Some class', value: 'class-name' }
        ],
        importcss_append: true,
        file_picker_callback: function (callback, value, meta) {
            /* Provide file and text for the link dialog */
            if (meta.filetype === 'file') {
                callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
            }

            /* Provide image and alt text for the image dialog */
            if (meta.filetype === 'image') {
                callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
            }

            /* Provide alternative source and posted for the media dialog */
            if (meta.filetype === 'media') {
                callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
            }
        },
        templates: [
            { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
            { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
            { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
        ],
        template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
        height: 400,
        image_caption: true,
        quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
        noneditable_noneditable_class: "mceNonEditable",
        toolbar_mode: 'sliding',
        contextmenu: "link image imagetools table",
    });

    function showfield(name) {
        if (name == 'Image') {
            document.getElementById('hidden-input').innerHTML =
                '<br/><label for="ImageUrl">Image Url</label><input name="ImageUrl" type="text" class="form-control" placeholder="Image Url..." required />';
        } else if (name == 'Video') {
            document.getElementById('hidden-input').innerHTML =
                '<br/><label for="VideoUrl">YouTube Url</label><input name="VideoUrl" type="text" class="form-control" placeholder="YouTube Url..." required />';
        } else {
            document.getElementById('hidden-input').innerHTML = '';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
