@using ForumNet.Data.Models.Enums
@model ForumNet.Web.ViewModels.Posts.PostsCreateInputModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="container">
    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            Create New Post
        </h1>
        <form class="form-default form-create-topic" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Post Title</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Title" type="text" class="form-control" id="inputTopicTitle" placeholder="Subject of your post">
                    <span class="tt-value-input">100</span>
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="tt-note">Describe your post well, while keeping the subject as short as possible.</div>
            </div>
            <div class="form-group">
                <label asp-for="PostType">Post Type</label>
                <select asp-for="PostType" class="form-control" onchange="showfield(this.options[this.selectedIndex].value)">
                    <option value="@PostType.Discussion">@PostType.Discussion</option>
                    <option value="@PostType.Image">@PostType.Image</option>
                    <option value="@PostType.Video">@PostType.Video</option>
                </select>
                <span asp-validation-for="PostType"></span>
                <div id="hidden-input">
                    <span asp-validation-for="ImageOrVideoUrl"></span>
                </div>
            </div>
            <div class="pt-editor">
                <h6 class="pt-title">Post Description</h6>
                <div class="form-group">
                    <textarea asp-for="Description" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CategoryId">Category</label>
                            <select asp-for="CategoryId" class="form-control">
                                <option hidden>Please select...</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="TagIds">Tags</label>
                            <select asp-for="TagIds" class="form-control">
                                @foreach (var tag in Model.Tags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                            <span asp-validation-for="TagIds" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function showfield(name) {
        if (name == 'Image' || name == 'Video') {
            document.getElementById('hidden-input').innerHTML =
                '<br/><label for="ImageOrVideoUrl">Url</label><input name="ImageOrVideoUrl" type="text" class="form-control" placeholder="Url..." required />';
        } else {
            document.getElementById('hidden-input').innerHTML = '';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
