@using ForumNet.Data.Models.Enums
@model ForumNet.Web.ViewModels.Posts.PostsCreateInputModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="container">
    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            Create New Post
        </h1>
        <form class="form-default form-create-topic" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Post Title</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Title" type="text" class="form-control" id="inputTopicTitle" placeholder="Subject of your post">
                    <span class="tt-value-input">100</span>
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="tt-note">Describe your post well, while keeping the subject as short as possible.</div>
            </div>
            <div class="form-group">
                <label asp-for="PostType">Post Type</label>
                <input id="post-type" value="@PostType.Discussion" asp-for="PostType" type="radio" hidden />
                <div class="tt-js-active-btn tt-wrapper-btnicon">
                    <div class="row tt-w410-col-02">
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Discussion'); showfield('Discussion')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-discussion"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Discussion</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Image'); showfield('Image')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-gallery"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Image</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Video'); showfield('Video')">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#Video"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Video</span>
                            </a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PostType"></span>
                <div id="hidden-input">
                    <span asp-validation-for="ImageUrl"></span>
                    <span asp-validation-for="VideoUrl"></span>
                </div>
            </div>
            <div class="pt-editor">
                <h6 class="pt-title">Post Description</h6>
                <div class="form-group">
                    <textarea asp-for="Description" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CategoryId">Category</label>
                            <select asp-for="CategoryId" class="form-control">
                                <option hidden>Please select...</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="TagIds">Tags</label>
                            <select asp-for="TagIds" class="form-control">
                                @foreach (var tag in Model.Tags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                            <span asp-validation-for="TagIds" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function showfield(name) {
        if (name == 'Image') {
            document.getElementById('hidden-input').innerHTML =
                '<br/><label for="ImageUrl">Image Url</label><input name="ImageUrl" type="text" class="form-control" placeholder="Image Url..." required />';
        } else if (name == 'Video') {
            document.getElementById('hidden-input').innerHTML =
                '<br/><label for="VideoUrl">YouTube Url</label><input name="VideoUrl" type="text" class="form-control" placeholder="YouTube Url..." required />';
        } else {
            document.getElementById('hidden-input').innerHTML = '';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
