@using ForumNet.Data.Common
@using ForumNet.Data.Models.Enums
@model ForumNet.Web.ViewModels.Posts.PostsCreateInputModel
@{
    ViewData["Title"] = "Create New Post";
}

<div class="container">
    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            @ViewData["Title"]
        </h1>
        <form class="form-default form-create-topic" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title">Post Title</label>
                <div class="tt-value-wrapper">
                    <input asp-for="Title" type="text" class="form-control" id="inputTopicTitle" placeholder="Subject of your post">
                    <span class="tt-value-input">@DataConstants.PostTitleMaxLength</span>
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="tt-note">Describe your post well, while keeping the subject as short as possible.</div>
            </div>
            <div class="form-group">
                <label asp-for="PostType">Post Type</label>
                <input id="post-type" value="@PostType.Discussion" asp-for="PostType" type="radio" hidden />
                <div class="tt-js-active-btn tt-wrapper-btnicon">
                    <div class="row tt-w410-col-02">
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Discussion');">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-discussion"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Discussion</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Image');">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#icon-gallery"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Image</span>
                            </a>
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2">
                            <a href="#" class="tt-button-icon" onclick="$('#post-type').val('Video');">
                                <span class="tt-icon">
                                    <svg>
                                        <use xlink:href="#Video"></use>
                                    </svg>
                                </span>
                                <span class="tt-text">@PostType.Video</span>
                            </a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PostType"></span>
            </div>
            <div class="pt-editor">
                <h6 class="pt-title">Post Description</h6>
                <div class="form-group">
                    <textarea id="post-create" asp-for="Description" placeholder="Lets get started"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CategoryId">Category</label>
                            <select asp-for="CategoryId" id="input-category">
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="TagIds">Tags</label>
                            <select asp-for="TagIds" id="input-tags">
                                @foreach (var tag in Model.Tags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                            <span asp-validation-for="TagIds" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <button type="submit" class="btn btn-secondary btn-width-lg">Create Post</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var $select = $('#input-category').selectize({
            create: false,
            sortField: 'text',
            placeholder: 'Please select...'
        });
        $select.each(function () {
            $(this)[0].selectize.clear(true);
        });
        $('#input-tags').selectize({
            plugins: ['remove_button', 'restore_on_backspace'],
            delimiter: ',',
            persist: false,
            create: false
        });
        tinymce.init({
            selector: '#post-create',
            height: 400,
            plugins: [
                'lists advlist link autolink image media preview hr anchor',
                'code codesample paste',
                'table emoticons help'
            ],
            toolbar: [
                'undo redo | styleselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent bullist numlist |',
                'forecolor backcolor emoticons | link image media codesample preview | help'
            ],
            link_default_protocol: "https",
            menubar: 'file edit view insert format table'
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
