@using ForumNet.Common
@using ForumNet.Data.Models.Enums
@using ForumNet.Web.ViewModels.Posts
@using ForumNet.Web.ViewModels.Replies
@model PostsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="container">
    <div class="tt-single-topic-list">
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header">
                    <div class="tt-item-info info-top">
                        <div class="tt-avatar-icon">
                            <i class="tt-icon"><svg><use xlink:href="#@Model.Author.ProfilePicture"></use></svg></i>
                        </div>
                        <div class="tt-avatar-title">
                            <a href="#">@Model.Author.Name</a>
                        </div>
                        <div class="tt-info-time">
                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@Model.CreatedOn
                        </div>
                    </div>
                    <h3 class="tt-item-title">
                        <a href="#">@Model.Title</a>
                    </h3>
                    <div class="tt-item-tag">
                        <ul class="tt-list-badge">
                            <li>
                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Category.Id">
                                    <span class="tt-color03 tt-badge">@Model.Category.Name</span>
                                </a>
                            </li>
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a href="#"><span class="tt-badge">@tag.Name</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="tt-item-description">
                    <p>@Html.Raw(Model.Description)</p>
                    @if (Model.Type == PostType.Image)
                    {
                        <p>
                            <img class="responsive-image" src="@Model.ImageUrl" alt="post-image" width="600">
                        </p>
                    }
                    else if (Model.Type == PostType.Video)
                    {
                        <div class="video-container">
                            <iframe title="YouTube video player" src="@Model.VideoUrl" allowfullscreen></iframe>
                        </div>
                    }
                </div>
                <div class="tt-item-info info-bottom">
                    <a asp-controller="Posts" asp-action="Like" asp-route-id="@Model.Id" class="tt-icon-btn">
                        <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                    </a>
                    <a asp-controller="Posts" asp-action="Dislike" asp-route-id="@Model.Id" class="tt-icon-btn">
                        <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                    </a>
                    @if (this.Model.Author.Id == (string)this.ViewData["UserId"] || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-pencil"></use></svg></i>
                        </a>
                    }
                    <div class="col-separator"></div>
                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                    </a>
                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                    </a>
                    <a asp-fragment="reply" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="tt-item">
            <div class="tt-info-box">
                <h6 class="tt-title">Thread Status</h6>
                <div class="tt-row-icon">
                    <div class="tt-item">
                        <div class="tt-icon-btn tt-position-bottom">
                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                            <span class="tt-text">@Model.RepliesCount</span>
                        </div>
                    </div>
                    <div class="tt-item">
                        <div class="tt-icon-btn tt-position-bottom">
                            <i class="tt-icon"><svg><use xlink:href="#icon-view"></use></svg></i>
                            <span class="tt-text">@Model.Views</span>
                        </div>
                    </div>
                    <div class="tt-item">
                        <div class="tt-icon-btn tt-position-bottom">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">@Model.Likes</span>
                        </div>
                    </div>
                    @*<div class="tt-item">
                            <a href="#" class="tt-icon-btn tt-position-bottom">
                                <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                                <span class="tt-text">32</span>
                            </a>
                        </div>*@
                </div>
                <partial name="~/Views/Replies/_CreatePartial.cshtml" model="new RepliesCreateInputModel { PostId = Model.Id }" />
                @if (Model.Replies.Any())
                {
                    <hr />
                    <h6 class="tt-title">Frequent Posters</h6>
                    <div class="tt-row-icon">
                        @foreach (var reply in Model.Replies)
                        {
                            <div class="tt-item">
                                <a href="#" class="tt-icon-avatar">
                                    <svg><use xlink:href="#@reply.Author.ProfilePicture"></use></svg>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        @foreach (var reply in Model.Replies)
        {
            <div class="tt-item">
                <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#@reply.Author.ProfilePicture"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                                <a href="#">@reply.Author.Name</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@reply.CreatedOn
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        @reply.Description
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a asp-controller="Replies" asp-action="Like" asp-route-id="@reply.Id" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                        </a>
                        <a asp-controller="Replies" asp-action="Dislike" asp-route-id="@reply.Id" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                        </a>
                        <a asp-controller="Replies" asp-action="Details" asp-route-id="@reply.Id" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-view"></use></svg></i>
                        </a>
                        @if (reply.Author.Id == (string)this.ViewData["UserId"] || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" class="tt-icon-btn">
                                <i class="tt-icon"><svg><use xlink:href="#icon-pencil"></use></svg></i>
                            </a>
                        }
                        <div class="col-separator"></div>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Replies.Any())
    {
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}