@using ForumNet.Web.Infrastructure.Extensions
@using ForumNet.Web.ViewModels.Posts
@model PostsDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
    async Task GetReplies(int? parentId)
    {
        var replies = this.Model.Replies.Where(r => r.ParentId == parentId);
        if (!replies.Any())
        {
            return;
        }

        foreach (var reply in replies)
        {
            <div class="topic-inner-list">
                <div class="topic-inner">
                    <div class="topic-inner-title">
                        <div class="topic-inner-avatar">
                            <i class="tt-icon">
                                <svg>
                                    <use xlink:href="@reply.Author.ProfilePicture"></use>
                                </svg>
                            </i>
                        </div>
                        <div class="topic-inner-title">
                            <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@reply.Author.Id">
                                @reply.Author.UserName
                            </a>
                        </div>
                    </div>
                    <div class="topic-inner-description">
                        @Html.Raw(reply.SanitizedDescription)
                        <div class="tt-item-info info-bottom">
                            <partial name="_DetailsRepliesReactionsPartial" model="reply" />
                            <div class="col-separator"></div>
                            @if (reply.Author.Id == this.User.GetId() || this.User.IsAdministrator())
                            {
                                <a asp-area="" asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" class="tt-icon-btn" style="color: #666f74">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a asp-area="" asp-controller="Replies" asp-action="Delete" asp-route-id="@reply.Id" class="tt-icon-btn" style="color: #666f74">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            }
                            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                            </a>
                            <a asp-area="" asp-controller="ReplyReports" asp-action="Create" asp-route-id="@reply.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                            </a>
                            <a asp-area="" asp-controller="Replies" asp-action="Details" asp-route-id="@reply.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                            </a>
                        </div>
                        @{ await GetReplies(reply.Id); }
                    </div>
                </div>
            </div>
        }
    }
}

<br />
<div class="container">
    <div class="tt-single-topic-list">
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header">
                    <div class="tt-item-info info-top">
                        <div class="tt-avatar-icon">
                            <i class="tt-icon"><svg><use xlink:href="@Model.Author.ProfilePicture"></use></svg></i>
                        </div>
                        <div class="tt-avatar-title">
                            <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@Model.Author.Id">
                                @Model.Author.UserName
                            </a>
                        </div>
                        <div class="tt-info-time">
                            @if (this.User.IsAdministrator())
                            {
                                <button style="padding: 0; border: none; background: none; outline: none; color: #666f74" onclick="pinPost(@Model.Id)">
                                    <i class="fas fa-thumbtack"></i>
                                    <span id="isPinned">@(Model.IsPinned ? "Unpin" : "Pin")</span>
                                </button>
                            }
                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@Model.CreatedOn
                        </div>
                    </div>
                    <h3 class="tt-item-title">
                        <a href="#">@Model.Title</a>
                    </h3>
                    <div class="tt-item-tag">
                        <ul class="tt-list-badge">
                            <li>
                                <a asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Category.Id">
                                    <span class="tt-color03 tt-badge">@Model.Category.Name</span>
                                </a>
                            </li>
                            @foreach (var tag in Model.Tags)
                            {
                                <li>
                                    <a asp-area="" asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">
                                        <span class="tt-badge">@tag.Name</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="tt-item-description">
                    <p>@Html.Raw(Model.SanitizedDescription)</p>
                </div>
                <div class="tt-item-info info-bottom">
                    <partial name="_DetailsReactionsPartial" model="Model" />

                    <div class="col-separator"></div>
                    @if (this.Model.Author.Id == this.User.GetId() || this.User.IsAdministrator())
                    {
                        <a asp-area="" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a asp-area="" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                    </a>
                    <a asp-area="" asp-controller="PostReports" asp-action="Create" asp-route-id="@Model.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                    </a>
                    <button style="padding: 0; border:none; background:none; outline:none" class="tt-icon-btn tt-hover-02 tt-small-indent" onclick="animateButton()">
                        <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                    </button>
                </div>
            </div>
        </div>

        <partial name="_DetailsThreadStatusPartial.cshtml" model="@Model" />

        <form id="reactions-form" method="post"></form>

        @foreach (var reply in Model.Replies.Where(r => r.ParentId == null))
        {
            <div class="tt-item">
                <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="@reply.Author.ProfilePicture"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                                <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@reply.Author.Id">
                                    @reply.Author.UserName
                                </a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@reply.CreatedOn
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        <p>@Html.Raw(reply.SanitizedDescription)</p>
                        @{ await GetReplies(reply.Id); }
                    </div>
                    <div class="tt-item-info info-bottom">
                        <partial name="_DetailsRepliesReactionsPartial" model="reply" />
                        <div class="col-separator"></div>
                        @if (reply.Author.Id == this.User.GetId() || this.User.IsAdministrator())
                        {
                            <a asp-area="" asp-controller="Replies" asp-action="Edit" asp-route-id="@reply.Id" class="tt-icon-btn" style="color: #666f74">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a asp-area="" asp-controller="Replies" asp-action="Delete" asp-route-id="@reply.Id" class="tt-icon-btn" style="color: #666f74">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                        </a>
                        <a asp-area="" asp-controller="ReplyReports" asp-action="Create" asp-route-id="@reply.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                        </a>
                        <a asp-area="" asp-controller="Replies" asp-action="Details" asp-route-id="@reply.Id" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Replies.Any())
    {
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
        </div>
    }
    else
    {
        <div class="tt-wrapper-inner">
            <h4 class="tt-title-separator"><span>There are no replies in this post</span></h4>
        </div>
    }
    <div id="reply-box">
        <vc:create-reply post-id="@Model.Id" parent-id="null"></vc:create-reply>
    </div>
</div>

@section Scripts {
    <script>
        var token = $("#reactions-form input[name=__RequestVerificationToken]").val();

        function animateButton() {
            $('html, body').animate({
                scrollTop: $("#reply-box").offset().top
            }, 1500);
        }

        function pinPost(id) {
            $.ajax({
                type: "POST",
                url: "/Administration/Posts/Pin/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (json == true) {
                        $('#isPinned').html('Unpin');
                    } else {
                        $('#isPinned').html('Pin');
                    }
                }
            });
        }

        function likeReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/like/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }

        function loveReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/love/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }

        function hahaReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/haha/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }

        function wowReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/wow/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }

        function sadReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/sad/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }

        function angryReaction(id, controller, type) {
            $.ajax({
                type: "POST",
                url: "/api/" + controller + "/angry/" + id,
                headers: { 'X-CSRF-TOKEN': token },
                success: function (json) {
                    if (type === 'post') {
                        $("#post-likes").html(json.likes);
                        $("#post-loves").html(json.loves);
                        $("#post-haha").html(json.haha);
                        $("#post-wow").html(json.wow);
                        $("#post-sad").html(json.sad);
                        $("#post-angry").html(json.angry);
                    } else {
                        $("#reply-likes-" + id).html(json.likes);
                        $("#reply-loves-" + id).html(json.loves);
                        $("#reply-haha-" + id).html(json.haha);
                        $("#reply-wow-" + id).html(json.wow);
                        $("#reply-sad-" + id).html(json.sad);
                        $("#reply-angry-" + id).html(json.angry);
                    }
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}