@model ForumNet.Web.ViewModels.Categories.CategoriesAllViewModel
@{
    ViewData["Title"] = "Categories";
}

<br />
<div class="tt-custom-mobile-indent container">
    <div class="tt-categories-title">
        <div class="tt-title">@ViewData["Title"]</div>
        <div class="tt-search">
            <form class="search-wrapper" 
                  asp-area="" 
                  asp-controller="Categories" 
                  asp-action="All" 
                  method="get">
                <div class="search-form">
                    <input type="text" asp-for="Search" class="tt-search__input" placeholder="Search Categories"/>
                    <button class="tt-search__btn" type="submit">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                    <button class="tt-search__close">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="tt-categories-list">
        <div class="row">

            @foreach (var category in Model.Categories)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="tt-item">
                        <div class="tt-item-header">
                            <ul class="tt-list-badge">
                                <li>
                                    <a asp-area="" 
                                       asp-controller="Categories" 
                                       asp-action="Details" 
                                       asp-route-id="@category.Id">
                                        <span class="tt-color01 tt-badge">@category.Name</span>
                                    </a>
                                </li>
                            </ul>
                            <h6 class="tt-title">
                                <a asp-area=""
                                   asp-controller="Categories"
                                   asp-action="Details"
                                   asp-route-id="@category.Id">
                                    Threads - @category.PostsCount
                                </a>
                            </h6>
                        </div>
                        <div class="tt-item-layout">
                            <div class="innerwrapper">
                                Lets discuss about @category.Name.
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
