<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - @ForumNet.Common.GlobalConstants.SystemName</title>
    <meta name="description" content="Forum.NET">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <!-- tt-mobile menu -->
    <nav class="panel-menu" id="mobile-menu">
        <ul>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">
                Close
                <div class="tt-icon">
                    <svg><use xlink:href="#icon-cancel"></use></svg>
                </div>
            </div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <!-- /tt-mobile menu -->
    <header id="tt-header">
        <div class="container">
            <div class="row tt-row no-gutters">
                <div class="col-auto">
                    <!-- toggle mobile menu -->
                    <a class="toggle-mobile-menu" href="#">
                        <svg class="tt-icon"><use xlink:href="#icon-menu_icon"></use></svg>
                    </a>
                    <!-- /toggle mobile menu -->
                    <!-- desktop menu -->
                    <div class="tt-logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                                <li><a asp-area="" asp-controller="Categories" asp-action="All"><span>Categories</span></a></li>
                                <li><a asp-area="" asp-controller="Posts" asp-action="Trending"><span>Trending</span></a></li>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-area="" asp-controller="Posts" asp-action="Create"><span>New</span></a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- /desktop menu -->
                    <partial name="_LayoutSearchPartial" view-data="ViewData" />
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>

    <a asp-area="" asp-controller="Posts" asp-action="Create" class="tt-btn-create-topic">
        <span class="tt-icon">
            <svg><use xlink:href="#icon-create_new"></use></svg>
        </span>
    </a>

    <main id="tt-pageContent" class="tt-offset-small">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.UtcNow.Year - <strong>@ForumNet.Common.GlobalConstants.SystemName</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <partial name="_SymbolsPartial" />
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/js/bundle.js" type="text/javascript"></script>
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>