@using ForumNet.Data.Models
@inject Microsoft.AspNetCore.Identity.UserManager<ForumUser> UserManager

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - @ForumNet.Common.GlobalConstants.SystemName</title>
    <meta name="description" content="Forum.NET">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="~/favicon.ico" rel="shortcut icon">
    <link href="~/css/style.min.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/z176c83fmruj3e62ja41cfokd0lrrhxjxnfofqfpmc9b37ec/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <!-- tt-mobile menu -->
    <nav class="panel-menu" id="mobile-menu">
        <ul>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">
                Close
                <div class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-cancel"></use>
                    </svg>
                </div>
            </div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <!-- /tt-mobile menu -->
    <header id="tt-header">
        <div class="container">
            <div class="row tt-row no-gutters">
                <div class="col-auto">
                    <!-- toggle mobile menu -->
                    <a class="toggle-mobile-menu" href="#">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-menu_icon"></use>
                        </svg>
                    </a>
                    <!-- /toggle mobile menu -->
                    <!-- logo -->
                    <div class="tt-logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="logo"></a>
                    </div>
                    <!-- /logo -->
                    <!-- desktop menu -->
                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                                <li><a asp-controller="Categories" asp-action="All"><span>Categories</span></a></li>
                                <li><a asp-controller="Posts" asp-action="Trending"><span>Trending</span></a></li>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-controller="Posts" asp-action="Create"><span>New</span></a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- /desktop menu -->
                    <!-- tt-search -->
                    <div class="tt-search">
                        <form class="search-wrapper">
                            <div class="search-form">
                                <input type="text" class="tt-search__input" placeholder="Search">
                                <button class="tt-search__btn" type="submit">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                </button>
                                <button class="tt-search__close">
                                    <svg class="tt-icon">
                                        <use xlink:href="#cancel"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /tt-search -->
                </div>
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <div class="col-auto ml-auto">
                        <div class="tt-account-btn">
                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Log in</a>
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary">Sign up</a>
                        </div>
                    </div>
                }
                else
                {

                    var user = await this.UserManager.FindByNameAsync(User.Identity.Name);

                    <div class="col-auto ml-auto">
                        <div class="tt-user-info d-flex justify-content-center">
                            <div class="tt-avatar-icon tt-size-md">
                                <i class="tt-icon"><svg><use xlink:href="#@user.ProfilePicture"></use></svg></i>
                            </div>
                            <div>
                                <a asp-area="Identity" asp-page="/Account/Manage/PersonalData" class="btn">@User.Identity.Name</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ml-auto">
                        <div class="tt-account-btn">
                            <a asp-area="Identity" asp-page="/Account/Logout" class="btn btn-primary">Logout</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>

    <main id="tt-pageContent" class="tt-offset-small">
        @RenderBody()
    </main>

    <a asp-controller="Posts" asp-action="Create" class="tt-btn-create-topic">
        <span class="tt-icon">
            <svg>
                <use xlink:href="#icon-create_new"></use>
            </svg>
        </span>
    </a>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.UtcNow.Year - <strong>@ForumNet.Common.GlobalConstants.SystemName</strong></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/bundle.js"></script>
    <partial name="_LayoutPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>