@model ForumNet.Web.ViewModels.Replies.RepliesDeleteViewModel

<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/like.svg" alt="like" /></i>
    <span id="reply-likes-@Model.Id" class="tt-text">@Model.Likes</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/love.svg" alt="love" /></i>
    <span id="reply-loves-@Model.Id" class="tt-text">@Model.Loves</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/haha.svg" alt="haha" /></i>
    <span id="reply-haha-@Model.Id" class="tt-text">@Model.HahaCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/wow.svg" alt="wow" /></i>
    <span id="reply-wow-@Model.Id" class="tt-text">@Model.WowCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/sad.svg" alt="sad" /></i>
    <span id="reply-sad-@Model.Id" class="tt-text">@Model.SadCount</span>
</button>
<button type="button" class="tt-icon-btn" style="padding: 0; border:none; background:none; outline: none; color: #666f74">
    <i class="tt-icon"><img src="~/images/angry.svg" alt="angry" /></i>
    <span id="reply-angry-@Model.Id" class="tt-text">@Model.AngryCount</span>
</button>