@using ForumNet.Web.Infrastructure.Extensions
@model ForumNet.Web.ViewModels.Replies.RepliesDetailsViewModel
@{
    ViewData["Title"] = "Reply Details";
}

<br />
<div class="container">
    <div class="tt-single-topic-list">
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header pt-noborder">
                    <div class="tt-item-info info-top">
                        <div class="tt-avatar-icon">
                            <i class="tt-icon"><svg><use xlink:href="#@Model.Author.ProfilePicture"></use></svg></i>
                        </div>
                        <div class="tt-avatar-title">
                            <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@Model.Author.Id">
                                @Model.Author.UserName
                            </a>
                        </div>
                        <a href="#" class="tt-info-time">
                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@Model.CreatedOn
                        </a>
                    </div>
                </div>
                <div class="tt-item-description">
                    <p>@Html.Raw(Model.SanitizedDescription)</p>
                </div>
                <div class="tt-item-info info-bottom">
                    <partial name="_DetailsReactionsPartial" model="Model" />

                    <div class="col-separator"></div>

                    @if (Model.Author.Id == this.User.GetId() || this.User.IsAdministrator())
                    {
                        <a asp-area="" asp-controller="Replies" asp-action="Edit" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a asp-area="" asp-controller="Replies" asp-action="Delete" asp-route-id="@Model.Id" class="tt-icon-btn" style="color: #666f74">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }

                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                    </a>
                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                    </a>
                    <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                        <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-auto ml-md-auto">
                <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function likeReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/like",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }

        function loveReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/love",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }

        function hahaReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/haha",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }

        function wowReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/wow",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }

        function sadReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/sad",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }

        function angryReaction(id) {
            $.ajax({
                type: "POST",
                url: "/api/reply-reactions/" + id + "/angry",
                success: function (json) {
                    $("#reply-likes-" + id).html(json.likes);
                    $("#reply-loves-" + id).html(json.loves);
                    $("#reply-haha-" + id).html(json.haha);
                    $("#reply-wow-" + id).html(json.wow);
                    $("#reply-sad-" + id).html(json.sad);
                    $("#reply-angry-" + id).html(json.angry);
                }
            });
        }
    </script>
}