@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="tt-loginpages-wrapper">
        <div class="tt-loginpages">
            <a asp-controller="Home" asp-action="Index" class="tt-block-title">
                <img src="~/images/logo.png" alt="">
                <div class="tt-title">
                    Welcome to Forum.NET
                </div>
                <div class="tt-description">
                    Log into your account to unlock true power of community.
                </div>
            </a>
            <form class="form-default" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" placeholder="Username..." />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="checkbox-group">
                                <input type="checkbox" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    <span class="tt-text">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col ml-auto text-right">
                        <a asp-page="./ForgotPassword" class="tt-underline">Forgot password?</a>
                    </div>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary btn-block">Log in</button>
                </div>
                <p>Or login with social network</p>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <a id="facebook-button" href="#" class="btn btn-color01 btn-secondary btn-block">
                                <i>
                                    <svg class="icon">
                                        <use xlink:href="#facebook-f-brands"></use>
                                    </svg>
                                </i>
                                Facebook
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <a id="google-button" href="#" class="btn btn-color02 btn-block">
                                <i class="fab fa-google"></i>
                                &nbsp;
                                Google
                            </a>
                        </div>
                    </div>
                </div>
                <p>Don’t have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="tt-underline">Sign up here</a></p>
                <div class="tt-notes">
                    By Logging in, signing in or continuing, I agree to
                    Forum.NET’s <a asp-area="" asp-controller="Home" asp-action="Guidelines" class="tt-underline">Terms of Use</a> and <a asp-area="" asp-controller="Home" asp-action="Privacy" class="tt-underline">Privacy Policy.</a>
                </div>
            </form>

            <form style="display: none" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div>
                    @{
                        var fbProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Facebook");
                        var googleProvider = Model.ExternalLogins?.FirstOrDefault(l => l.DisplayName == "Google");
                    }
                    @if (fbProvider != null && googleProvider != null)
                    {
                        <button id="fb-form-button" type="submit" name="provider" value="@fbProvider.Name"></button>
                        <button id="google-form-button" type="submit" name="provider" value="@googleProvider.Name"></button>
                    }

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#facebook-button").on("click", function () {
            document.getElementById('fb-form-button').click();
        });
        $("#google-button").on("click", function () {
            document.getElementById('google-form-button').click();
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: '/Identity/Account/Login' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}