@model IEnumerable<ForumNet.Web.ViewModels.Users.UsersFollowersAllViewModel>

<div class="tab-pane tt-indent-none show active">
    <div class="tt-list-search">
        <div class="tt-title">Suggested Users</div>
    </div>
    <div class="tt-followers-list">
        <div class="tt-list-header tt-border-bottom">
            <div class="tt-col-name">User</div>
            <div class="tt-col-value-large hide-mobile">Threads</div>
            <div class="tt-col-value-large hide-mobile">Replies</div>
            <div class="tt-col-value-large"></div>
        </div>
        <form id="follow-form" method="post"></form>
        @foreach (var user in Model)
        {
            <div class="tt-item">
                <div class="tt-col-merged">
                    <div class="tt-col-avatar">
                        <svg class="tt-icon">
                            <use xlink:href="@user.ProfilePicture"></use>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h6 class="tt-title hide-mobile">
                            <a asp-area="" asp-controller="Users" asp-action="Threads" asp-route-id="@user.Id">
                                @user.UserName
                            </a>
                        </h6>
                        <div class="tt-content hide-mobile">
                            <span>Following you</span>
                        </div>
                    </div>
                </div>
                <div class="tt-col-value-large tt-color-select hide-mobile">@user.ThreadsCount</div>
                <div class="tt-col-value-large hide-mobile">@user.RepliesCount</div>
                <div class="tt-col-value-large"><a id="follow-button" href="#" class="btn btn-secondary" onclick="follow('@user.Id')">Follow</a></div>
            </div>
        }
    </div>
</div>

