@model ForumNet.Web.ViewModels.Tags.TagsDetailsViewModel
@{
    ViewData["Title"] = Model.Tag.Name;
}

<br />
<div class="container">
    <div class="tt-catSingle-title">
        <div class="tt-innerwrapper tt-row">
            <div class="tt-col-left">
                <ul class="tt-list-badge">
                    <li>
                        <a asp-area=""
                           asp-controller="Categories"
                           asp-action="Details"
                           asp-route-id="@Model.Tag.Id">
                            <span class="tt-badge">@Model.Tag.Name</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ml-left tt-col-right">
                <div class="tt-col-item">
                    <h2 class="tt-value">Threads - @Model.Tag.PostsCount</h2>
                </div>
                <div class="tt-col-item">
                    <div class="tt-search">
                        <form class="search-wrapper"
                              asp-area=""
                              asp-controller="Tags"
                              asp-action="Details"
                              asp-route-id="@Model.Tag.Id"
                              method="get">
                            <div class="search-form">
                                <input type="text"
                                       asp-for="Search"
                                       value="@Model.Search"
                                       class="tt-search__input"
                                       placeholder="Search in @Model.Tag.Name" />
                                <button class="tt-search__btn" type="submit">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                </button>
                                <button class="tt-search__close">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-cancel"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-innerwrapper">
            All posts which contains <span class="tt-badge">@Model.Tag.Name</span> tag.
        </div>
    </div>
    @if (Model.Posts.Any())
    {
        <div class="tt-topic-list" style="word-break: break-word;">
            <div class="tt-list-header">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value">Activity</div>
            </div>

            @foreach (var post in Model.Posts)
            {
                <div class="tt-item">
                    <div class="tt-col-avatar">
                        <a asp-area="" 
                           asp-controller="Users" 
                           asp-action="Threads" 
                           asp-route-id="@post.AuthorId">
                            @if (post.AuthorProfilePicture.StartsWith("#icon-ava"))
                            {
                                <svg class="tt-icon">
                                    <use xlink:href="@post.AuthorProfilePicture"></use>
                                </svg>
                            }
                            else
                            {
                                <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/@post.AuthorProfilePicture" 
                                     alt="avatar"
                                     class="tt-icon"
                                     width="40"
                                     height="40"
                                     style="border-radius: 50%"/>
                            }
                        </a>
                    </div>
                    <div class="tt-col-description">
                        <h6 class="tt-title">
                            <a asp-area="" 
                               asp-controller="Posts" 
                               asp-action="Details" 
                               asp-route-id="@post.Id">
                                @post.Title
                            </a>
                        </h6>
                        <div class="row align-items-center no-gutters">
                            <div class="col-11">
                                <ul class="tt-list-badge">
                                    <li class="show-mobile">
                                        <a asp-area="" 
                                           asp-controller="Categories" 
                                           asp-action="Details" 
                                           asp-route-id="@post.Category.Id">
                                            <span class="tt-color01 tt-badge">@post.Category.Name</span>
                                        </a>
                                    </li>
                                    @foreach (var tag in post.Tags)
                                    {
                                        <li>
                                            <a href="#">
                                                <span class="tt-badge">@tag.Name</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-1 ml-auto show-mobile">
                                <div class="tt-value">@post.Activity</div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col-category">
                        <a asp-area="" 
                           asp-controller="Categories"
                           asp-action="Details" 
                           asp-route-id="@post.Category.Id">
                            <span class="tt-color01 tt-badge">@post.Category.Name</span>
                        </a>
                    </div>
                    <div class="tt-col-value  hide-mobile">@post.Likes</div>
                    <div class="tt-col-value tt-color-select  hide-mobile">@post.RepliesCount</div>
                    <div class="tt-col-value  hide-mobile">@post.Views</div>
                    <div class="tt-col-value hide-mobile">@post.Activity</div>
                </div>
            }

        </div>
    }
    else
    {
        if (Model.Search != null)
        {
            <div class="tt-layout-404">
                <h6 class="tt-title">No posts found.</h6>
            </div>
        }
        else
        {
            <div class="tt-layout-404">
                <h6 class="tt-title">Sorry, nothing here.</h6>
                <p>
                    But you can create new post about @Model.Tag.Name.<br>
                    <a asp-area=""
                       asp-controller="Posts"
                       asp-action="Create"
                       class="tt-color-dark tt-underline-02">
                        Create New Post
                    </a>
                </p>
            </div>
        }
    }
</div>
