@model ForumNet.Web.ViewModels.Chat.ChatWithUserViewModel
@{
    ViewData["Title"] = "Messages";
}

<div class="container">
    <div class="tt-messages-layout">
        <div class="row no-gutters">
            <div class="col-md-4 tt-aside" id="js-aside">
                <a asp-area=""
                   asp-controller="Chat"
                   asp-action="SendMessage"
                   class="tt-title-aside">
                    <h2 class="tt-title">
                        @ViewData["Title"]
                    </h2>
                    <i class="tt-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </i>
                </a>

                <vc:chat-conversations></vc:chat-conversations>

            </div>
            <div class="col-md-8">
                <div class="tt-title-content">
                    <a href="#" class="tt-toggle-aside">
                        <i class="tt-icon">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow_left"></use>
                            </svg>
                        </i>
                    </a>
                    <h2 class="tt-title">
                        @Model.User.UserName
                    </h2>
                    <a href="#" class="tt-icon-link">
                        <i class="tt-icon">
                            <svg class="icon">
                                <use xlink:href="#notification"></use>
                            </svg>
                        </i>
                    </a>
                </div>
                <div id="messagesList"
                     class="tt-list-time-topic"
                     style="overflow-y: auto; overflow-x: hidden; height:300px; display:block; word-break: break-word;">

                    @foreach (var message in Model.Messages)
                    {
                        <div class="tt-item">
                            <div class="tt-col-avatar">
                                @if (message.AuthorProfilePicture.StartsWith("#icon-ava"))
                                {
                                    <svg class="tt-icon">
                                        <use xlink:href="@message.AuthorProfilePicture"></use>
                                    </svg>
                                }
                                else
                                {
                                    <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/@message.AuthorProfilePicture"
                                         alt="avatar"
                                         class="tt-icon"
                                         width="40"
                                         height="40"
                                         style="border-radius: 50%" />
                                }
                            </div>
                            <div class="tt-col-description">
                                <h4 class="tt-title">
                                    <a asp-area=""
                                       asp-controller="Users"
                                       asp-action="Threads"
                                       asp-route-id="@message.AuthorId">
                                        @message.AuthorUserName
                                    </a>
                                    <span class="time">@message.CreatedOn</span>
                                </h4>
                                @Html.Raw(message.SanitizedContent)
                            </div>
                        </div>
                    }

                </div>
                <div id="whoIsTyping"></div>
                <div class="tt-wrapper-inner">
                    <div class="pt-editor form-default">
                        <div id="addMessageForm">
                            <div class="form-group">
                                <textarea id="messageInput" class="form-control" placeholder="Type a message..."></textarea>
                            </div>
                            <div class="pt-row">
                                <div class="col-auto ml-auto">
                                    <button id="sendButton" class="btn btn-secondary btn-custom">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#messagesList')[0].scrollTop = $('#messagesList')[0].scrollHeight;

        $('#messageInput').on('keypress',
            function(e) {
                if (e.which === 13 && !e.shiftKey) {
                    e.preventDefault();
                    $('#sendButton').click();
                }
            });

        $("#messageInput").on('change keyup copy paste cut',
            function() {
                if (!this.value) {
                    connection.invoke("WhoIsTyping", '');
                } else {
                    connection.invoke("WhoIsTyping", '@this.User.Identity.Name');
                }
            });

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        connection.on("SayWhoIsTyping",
            function(name) {
                if (name === null || name === "") {
                    $("#whoIsTyping").html('');
                } else {
                    var whoIsTypingInfo = `<em>&nbsp;&nbsp;${name} is typing...</em>`;
                    $("#whoIsTyping").html(whoIsTypingInfo);
                }
            });

        connection.on("ReceiveMessage",
            function(message) {

                var chatInfo;
                if (message.authorProfilePicture.indexOf('#icon-ava') >= 0) {
                    chatInfo = `<div class="tt-item">
                                    <div class="tt-col-avatar">
                                        <svg class="tt-icon">
                                            <use xlink:href="${message.authorProfilePicture}"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h4 class="tt-title">
                                            <a href="/Users/Threads/${message.authorId}">${message.authorUserName}</a>
                                            <span class="time">${message.createdOn}</span>
                                        </h4>
                                        ${escapeHtml(message.content)}
                                    </div>
                                </div>`;
                } else {
                    chatInfo = `<div class="tt-item">
                                    <div class="tt-col-avatar">
                                        <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/${
                                            `${message.authorProfilePicture}"
                                             alt="avatar"
                                             class="tt-icon"
                                             width="40"
                                             height="40"
                                             style="border-radius: 50%" />
                                    </div>
                                    <div class="tt-col-description">
                                        <h4 class="tt-title">
                                            <a href="/Users/Threads/${message.authorId}">${message.authorUserName}</a>
                                            <span class="time">${message.createdOn}</span>
                                        </h4>
                                        ${escapeHtml(message.content)}
                                    </div>
                                </div>`}`;
                }

                $("#messagesList").append(chatInfo);
                $('#messagesList')[0].scrollTop = $('#messagesList')[0].scrollHeight;
            });

        $("#sendButton").click(function() {
            var message = $.trim($('#messageInput').val());
            $('#messageInput').val('');
            connection.invoke("SendMessage", escapeHtml(message), '@Model.User.Id');
        });

        connection.start().catch(function(err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(':)', "🙂")
                .replace(':(', "🙁")
                .replace(';)', "😉")
                .replace(':*', "😘")
                .replace(/<3/g, "❤")
                .replace(/:D/g, "😀")
                .replace(/:P/g, "😜")
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
    <partial name="_ValidationScriptsPartial"/>
}