@inject SignInManager<ForumUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="tt-item">
    <div class="tt-info-box">
        <div class="row-object-inline form-default justify-content-center hide-mobile">
            <ul class="tt-list-badge tt-size-lg">
                <li>
                    <a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><span class="tt-badge">Profile</span></a>
                </li>
                <li>
                    <a class="@ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><span class="tt-badge">Email</span></a>
                </li>
                <li>
                    <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><span class="tt-badge">Password</span></a>
                </li>
                @if (hasExternalLogins)
                {
                    <li id="external-logins">
                        <a id="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"><span class="tt-badge">External logins</span></a>
                    </li>
                }
                <li>
                    <a class="@ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"><span class="tt-badge">Personal data</span></a>
                </li>
            </ul>
            <select class="tt-select form-control hide-desktope" onchange="location = this.value">
                <option value="/Identity/Account/Manage">Profile</option>
                <option value="/Identity/Account/Manage/Email">Email</option>
                <option value="/Identity/Account/Manage/ChangePassword">Password</option>
                <option value="/Identity/Account/Manage/ExternalLogins">External logins</option>
                <option value="/Identity/Account/Manage/PersonalData">Personal data</option>
            </select>
        </div>
    </div>
</div>